<h2>Signup Page</h2>

<form action="/auth/signup" method="POST">
  <div class="row">
    <div class="input-field col s6">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="validate">
    </div>
    <div class="input-field col s6">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="validate">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <label for="username">username</label>
      <input type="text" id="username" name="username" class="validate">
    </div>
  </div>
  <input type="submit" class="btn btn-primary">
</form>
