<h2> <%= currentUser.username %>'s Profile</h2>

<div class="row">
  <div class="col s6">
    <h4>Your Info</h4>
    <p>Email: <%= currentUser.email %></p>
    <p>Admin: <%= currentUser.admin ? 'yes' : 'no' %></p>
    <p>Id: <%= currentUser.id %></p>
  </div>
</div>
