<h1>Wish List</h1>
<% if (titles) { %>
  <% titles.forEach(function(title) { %>

    <p><%= title %></p>
    <p>currentUser is: <%= currentUser %></p>
    <p>ownerId is:<%=  ownerId %></p>
    <% if (currentUser === ownerId { %>
      <button id='del-wish'>Delete</button>
    <% } %>
    <hr>
  <% }); %>
  <% } else {%>
    Wish list is empty.
  <% } %>
