<h1>Wish List</h1>
<% if (wishList) { %>
  <% wishList.forEach(function(wish) { %>

    <p><%= wish.gameTitle %></p>
    <% if (currentUser && currentUser.id == ownerId) { %>
      <button class="del-wish" value="/wishes/<%=wish.wishId%>">Delete</button>
    <% } %>
    <hr>
  <% }); %>
  <% } else {%>
    Wish list is empty.
  <% } %>
