<h1>Wish List</h1>
<% if (titles) { %>
  <% titles.forEach(function(title) { %>

    <p><%= title %></p>
    <!-- TODO params.locals.owner -->
    <button id='del-wish'>Delete</button>
    <hr>
  <% }); %>
  <% } else {%>
    Wish list is empty.
  <% } %>
